# Vim
*.swp
*.swo

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
coverage.json
coverageEnv
report

# Dependency directory
node_modules

# local env variables
.env

# macOS
.DS_Store

# IntelliJ IDE
.idea

# Hardhat
/cache
/artifacts
/types
/dist

# Foundry
/out
/cache_forge
